nav{
    top: 0;
    position: fixed;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--painel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
nav.close{
    width: 73px;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    max-width: 45px;

}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav .logo .logo-name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo-name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links  li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover .link-name,
.nav-links li a:hover i{
    color: var(--primary-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--painel-color);
    border-radius: 50%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--tran-03);
}

nav.close ~ header,
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}

/* ==== DARK  ==== */
body.dark .switch:before{
    left: 20px;
}
body.dark .nav-links  li a:hover:before{
    background-color: var(--text-color);
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

@media screen and (max-width: 1000px){
    nav{
        width: 73px;
    }
   
    nav .logo-name{
     opacity: 0;
     pointer-events: none;   
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close{
        width: 250px;
    }
    nav.close.logo-name{
        opacity: 1;
        pointer-events: auto;   
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ header,
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ header,
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
}
@media screen and (max-width: 500px){
    nav{
        width: 73px;
    }
   
    nav .logo-name{
     opacity: 0;
     pointer-events: none;   
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close{
        width: 73px;
    }
    nav.close.logo-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ header,
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ header,
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }  
}