*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ------ Colors ------ */
    --primary-color: #0E4BF1;
    --painel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #E5E5E5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #FFF;
    --add-color: #39e229;
    --delete-color: #ff4d4d;
    --table-title: #4d50ff;

    /* ------ Trasition ------ */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;

}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
        /* ------ Colors ------ */
        --primary-color: #3A3B3C;
        --painel-color: #242526;
        --text-color: #CCC;
        --black-light-color: #CCC;
        --border-color: #4D4D4c;
        --toggle-color: #DDD;
        --box1-color: #002e5f;
        --box2-color: #805901;
        --box3-color: #3f007a;
        --title-icon-color: #CCC;
        --add-color: #0f9b03;
        --delete-color: #a80606;
        --table-title: #0306af;
}
